<footer class="bottom-footer">
  <div class="copyright">
    <p>
    {{ if isset .Site.Params "author" }}&copy; {{ .Site.Params.author }}.{{end}}
    <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution">Some rights reserved</a>; 
    please attribute properly and link back.
    <a href="/archive">archive.</a>
    {{ if isset .Site.Params "email" }}<a href="mailto:{{ .Site.Params.email }}">contact.</a>{{end}}
    {{ if isset .Site.Params "githubUser" }}<a href="https://github.com/{{ .Site.Params.githubUser }}">contact.</a>{{end}}
    </p>
  </div>
</footer>

<script>
    renderMathInElement(document.getElementById('main'));
</script>

</div>
</body>
</html>
